extends layout.pug
block csss
  include ./about.css
block content
  div(id="cont")
    h1 About
    p(id="desc") A website made for sharing study guides. Made by a high school student when he was bored.
    image(style="width: 40%" src="https://res.cloudinary.com/drferrel/image/upload/v1584822048/IMG-0105_yyhm93.png")
